<%- include ('./includes/head.ejs') %>
<div class="form-group">
  <h1>Daily Tasks</h1>
  <%- include ('./includes/todoForm.ejs') %>
  <div class="mx-auto w-50 alert alert-primary mt-2">
    <p class="d-inline col">
      Completed Tasks:
      <span class="badge badge-success badge-pill"> <%= completedTodos %></span>
    </p>
    <p class="d-inline col">
      Remaining Tasks:
      <span class="badge badge-warning badge-pill"><%= remainingTodos %> </span>
    </p>
  </div>

  <%- include ('./includes/todos.ejs') %>
</div>
<%- include('./includes/footer.ejs') %>
